<ion-view title="2.2">
    <ion-content overflow-scroll="true" padding="true" class="text-center" style="color: white;">
        <img src="img/icon.png">
        <h2 style="color: white;">Quais séries você acompanha?</h2>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
        </div>
        <button href="#/login" class="button button-energized button-block">Filtros de busca</button>
        COLOCAR AS IMAGENS ABAIXO

    </ion-content>
</ion-view>