<ion-view title="lembrar_senha">
    <ion-content overflow-scroll="true" padding="true">
        <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center; width: 100%; height: auto;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <h2>Lembrar Senha</h2>
        <form class="list">
            <label class="item item-input" name="email_cadastro">
                <span class="input-label">Informe seu e-mail de cadastro</span>
                <input type="text" placeholder="">
            </label>
            <button class="button button-balanced button-block ">Solicitar nova Senha</button>
        </form>
    </ion-content>
</ion-view>