<ion-view title="login">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="text-center" style="color: white;">
        <img src="img/icon.png">
        <h2 style="color: white;">Faça Login</h2>
        <form class="list">
            <label class="item item-input" name="usuario">
                <span class="input-label">Nome de usuário / E-mail</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" name="senha">
                <span class="input-label">Informe sua senha</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button class="button button-light button-clear button-small button-full">Esqueci minha Senha</button>
        <button class="button button-balanced button-block button-large">Entrar</button>
    </ion-content>
</ion-view>