<ion-view title="1.1">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="text-center" style="color: white;">
        <img src="img/icon.png">
        <h2 style="color: white;">Faça Login</h2>
        <form class="list">
            <label class="item item-input" name="usuario">
                <input type="text" placeholder="Nome de usuário / E-mail">
            </label>
            <label class="item item-input" name="senha">
                <input type="text" placeholder="Informe sua senha">
            </label>
        </form>
        <button class="button button-light button-clear button-small button-full">Esqueci minha Senha</button>
        <a href="#/principal" class="button button-balanced button-block button-large">Entrar</a>
    </ion-content>
</ion-view>